   section {
    margin-bottom: 40px;
  }
  
  .projects-content h2 {
    color: aliceblue;
  }
  
  p {
    color: aliceblue;
  }
  
  .project-card {
    display: flex;
    float:left;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 45%; 
    margin-right: 2%; 
    margin-left:2%;
  }
  
  .project-card:last-child {
    margin-right: 0; 
  }
  
  .project-card img {
    width: 100%; 
    height: 150px;
    object-fit: cover;
  }
  
  .project-details {
    padding: 10px;
    color: aliceblue;
  }
  
  .project-details h3 {
    color: aliceblue;
  }
  
  .project-details p {
    color: aliceblue;
  }
  
  .project-details a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project-details a:hover {
    text-decoration: underline;
  }
  